_ReSharper.*/
*resharper.user
.idea/
[Bb]in/
[Oo]bj/
TestResults/
*.sln.cache
*.suo
*.sln.docstates
*.user
*.DotSettings
launchSettings.json
StyleCop.Cache
[Dd]ebug/
[Rr]elease/
*.un~
NEW_VERSION
*GhostDoc.xml
project.lock.json
packages
build
temp
dist
.bundle
.sonar
app+zopa_json/
xmldocs/
**/Localstack/data/

[Ww]eb.config
[Aa]pp.config

# VS Code
.vs
.vscode/
# merge tool
*.orig
.DS_Store

/data